body{
	background:  rgb(235, 235, 235);
}
table {
	border: 10px solid  rgb(235, 235, 235);
	margin: 0;
	padding: 100px;
	width: 100%;
	table-layout: fixed;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}
table tr {
	background-color: #a7af3a;
	border: 0px;
	padding: 10px;
	border-radius: 3px;
}
table thead tr:first-child {
	height: 5px;
    border: 1px solidrgb(245, 255, 157);
}
table th,
table td {
	padding: 8px ;
	text-align: center;
	color: #9da9b9;
	font-size: 14px;
	font-family: Arial;
}

table td:nth-child(4) {
	font-size: 18px;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: Times New Roman;
	background: #0ba4af;
	border: 0px;
	color: #FFF;
}



tbody tr:nth-child(even) {
	background-color: #F8F8FF;
}

tbody tr:nth-child(odd) {
	background-color: #E6E6FA;
}

table tbody tr td .button1 {
	background: #087880;
	border: 0px;
	color: #FFF;
	font-size: 13px;
	transition: all .5s;
	padding: 15px 20px;
	margin-top:5px;
  margin-right:10px;
  margin-bottom:10px;
  margin-left:10px;
	border: 0;
	font-family: Arial;
}
  table tbody tr td .button1:hover {
	color: #000000;
	letter-spacing: 1.0px;
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all .3s;
	padding: 10px 20px;
  }
@media screen and (max-width: 600px) {
	table {
		border: 0;
	}
	table caption {
		font-size: 1.3em;
	}
	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		position: absolute;
		width: 1px;
		padding: 0;
	}
	table tr {
		border-bottom: 3px solid #e1e5e9;
		display: block;
		margin-bottom: .625em;
	}
	table th,
	table td {
		padding: 0.625em;
	}
	table td {
		border-bottom: 1px solid #e1e5e9;
		display: block;
		font-size: .8em;
		text-align: right;
		color: #9da9b9;
	}
	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
		color: #656971;
	}
	table td:last-child {
		border-bottom: 0;
	}
	table td:nth-child(4) {
		font-size: 0.8em;
	}
	button {
	  background-color: purple;
	}

}
.btn2 {
    background-color: #3e7e42;
  border: 10px solid rgb(235, 235, 235);
  color: white;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 270px;
  }

  
.h4 {
	background-color:#3e7e42;
	border: 10px solid rgb(235, 235, 235);
	color: white;
	padding: 7px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	width: 100%;
  }